{% extends 'base.html.twig' %}

{% block title %}Food index{% endblock %}

{% block body %}
<div class="container">
    <div style="padding-bottom: 100px">

    </div>
    <h1>Food index</h1>

    {% if foods %}
        {% for food in foods %}
            <div class="fridge-container my-1">
                <a href="{{ path('food_show', {'fridgeid':food.idFloor.idFridge.id, 'id': food.id}) }}">
                    {% set imagePath = food.imageFoodPath %}
                    <img class="fridge-img"  src="{{ asset( imagePath ) }}" alt="hello">
                    <div class="fridge-title d-inline-block pl-3 align-middle">
                        <span>{{ food.name }}</span>
                        <br>
                        <span class="align-left article-details"> Type :  {{ food.type }}</span>
                        <br>
                        <span class="align-left article-details"> purchase date :  {{ food.dateOfPurchase ? food.dateOfPurchase|date('Y-m-d') : '' }}</span>
                        <br>
                        <span class="align-left article-details"> Expiration date :  {{ food.expirationDate ? food.expirationDate|date('Y-m-d') : '' }}</span>
                        <br>
                        <span class="align-left article-details"> Quantity of food : {{ food.quantity }} {{ food.unitQty }}</span>
                    </div>
                </a>
                <div class="fridgeButtons d-inline-block align-right">
                    {{ include('food/_delete_form.html.twig') }}
                    <a href="{{ path('food_edit', {'fridgeid':food.idFloor.idFridge.id, 'id': food.id}) }}" class="btn btn-block btn-dark" role="button">Modify food</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <span >no food found in floor</span>
        </div>
    {% endif %}

    <a class="repoLinkBack" href="{{ path('floor_index', {'fridgeid': idFridge}) }}">back to Floor repository</a>

</div>
{#    <a href="{{ path('food_new') }}">Create new</a>#}
{% endblock %}
