{% form_theme foodForm 'bootstrap_4_layout.html.twig' %}
<form id="msform" method="post" enctype="multipart/form-data">
    <fieldset>
        <h2 class="fs-title">{{ h2_label|default('Add food to your fridge') }}</h2>
        <h3 class="fs-subtitle">Select or enter the needed info</h3>
        {{ form_start(foodForm) }}
            {{ form_widget(foodForm) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(foodForm) }}
    </fieldset>
</form>
